html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  overflow: hidden;
}

header {
  padding-left: 10px;
}

main {
  padding-left: 30px;
}

h1,
h2 {
  color: #0066ff;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #0066ff;
}

@media screen and (min-width: 960px) {
  header,
  main {
    margin: 0 auto;
    padding: 0;
    width: 60%;
  }
}