* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.65;
  margin: 40px 0 0 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 0;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  color: green;
  text-decoration: underline;
}

.section {
  display: flex;
  margin-bottom: 20px;
}

.section div:nth-of-type(1) {
  flex-grow: 2;
}

.section div ul {
  margin: 0;
}

.section div:nth-of-type(2) {
  flex-grow: 10;
}

@media screen and (min-width: 960px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }
}

@media screen and (min-width: 401px) {
  header div:first-child {
    margin-left: 15%;
  }

  .section {
    margin-left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-left: 20px;
  }

  .section div {
    flex: 1 !important;
  }

  .section div ul {
    padding: 0;
  }
}
